$eggshell: hsl(47, 25%, 90%);
$vanilla: hsl(35, 40%, 75%);
$gray-medium: hsl(47, 10%, 55%);
$gray-dark: hsl(47, 10%, 30%);
$red-light: hsl(4, 40%, 68%);
$red-medium: hsl(4, 50%, 61%);
$red-dark: hsl(4, 77%, 40%);
