@import "./styles/variables.scss";
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 3rem 15rem;
  background-color: $eggshell;

  &-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      transition: all 0.1s ease-out;
      font-size: 4rem;
      color: $red-dark;

      &:hover {
        color: $red-medium;
      }
    }

    &-link {
      font-size: 2.4rem;
      color: $gray-dark;

      &:hover {
        color: $gray-medium;
      }
    }

    & a {
      transition: all 0.1s ease-out;
      padding: 1rem 0;
      font-family: "Sanchez", sans-serif;
      font-weight: bolder;
      text-decoration: none;

      &:last-child {
        margin-left: 2.4rem;
      }
    }

    &-span {
      display: flex;
    }
  }
}
